<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% if title is defined %}{{ title }} – {% endif %}Departamento de Cinema e Vídeo da UFF</title>
        {% block stylesheets %}
            <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('vendor/bootstrap/css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('css/estilos.css') }}" rel="stylesheet" type="text/css" />
        {% endblock %}
        <meta name="description" content="Cadastre seus projetos, reserve equipamentos no almoxarifado e muito mais pelo seu celular, tablet ou qualquer outro dispositivo." />
        <meta name="robots" content="index, nofollow" />
        <meta name="googlebot" content="index, nofollow" />
        <meta name="subject" content="Todos os serviços do departamento qualquer lugar." />
        <!-- FAVICONS -->
    	<link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-icon-57x57.png') }}">
    	<link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-icon-60x60.png') }}">
    	<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-icon-72x72.png') }}">
    	<link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-icon-76x76.png') }}">
    	<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-icon-114x114.png') }}">
    	<link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-icon-120x120.png') }}">
    	<link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-icon-144x144.png') }}">
    	<link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-icon-152x152.png') }}">
    	<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-icon-180x180.png') }}">
    	<link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('android-icon-192x192.png') }}">
    	<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    	<link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicon-96x96.png') }}">
    	<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
    </head>
    <body>
        {% include 'CineviAdminBundle::header-security.html.twig' %}

        <main class="container container-error">
            <div class="jumbotron text-center">
                <h1>{{ title }}
                <br/>
                <small>{{ mensagem }}</small></h1>
                <p>Código do erro: {{ codigo }}</p>
            </div>
            <p class="text-center"><a href="{{ path('index') }}">Voltar</a></p>
        </main>

        {% include 'CineviAdminBundle::footer.html.twig' %}
    </body>
</html>
