{% extends 'CineviAdminBundle::base.html.twig' %}

{% block mainActions %}
    <a class="navbar-brand btn btn-link" href="{{ routeList }}">
        {% include 'CineviAdminBundle:SVG:voltar.html.twig' %}
    </a>
    {% block deleteAction %}
        {% if is_granted('delete', item) %}
            {{ form_start(deleteForm, { 'attr' : { 'class': 'navbar-form navbar-nav' } }) }}
                <button type="submit" class="btn btn-danger">
                    {% include 'CineviAdminBundle:SVG:remover.html.twig' %}<span class="hidden-xs">Remover</span>
                </button>
            {{ form_end(deleteForm) }}
        {% endif %}
    {% endblock %}
{% endblock %}

{% block body %}

    {{ parent() }}

    {{ form_start(editForm, {'attr': {'novalidate': 'novalidate'}}) }}
        {% block form %}{% endblock %}
        <br/>
        <button type="submit" class="btn btn-lg btn-warning">Enviar</button>
    {{ form_end(editForm) }}

{% endblock %}
