{% extends 'CineviAdminBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <noscript><style> .jsonly { display: none } </style></noscript>
{% endblock %}

{% block mainActions %}
    <a class="navbar-brand btn btn-link" href="{{ path('index') }}">
        {% include 'CineviAdminBundle:SVG:voltar.html.twig' %}
    </a>
    {% block addAction %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="navbar-form navbar-nav">
                <a class="btn btn-success" href="{{ routeAdicionar }}">{% include 'CineviAdminBundle:SVG:adicionar.html.twig' %}<span class="hidden-xs">Adicionar</span></a>
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}

{% block maisBotoes %}
    {% block maisBotoesBlock %}{% endblock %}
{% endblock %}

{% block body %}

    {{ parent() }}

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    {% block thead %}{% endblock %}
                </tr>
            </thead>
            <tbody>
                {% for item in pagination %}
                    <tr>
                        {% block tbody %}{% endblock %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center">
        {{ knp_pagination_render(pagination) }}
    </div>

    <div class="clearfix">
        {% if is_granted('ROLE_DEPARTAMENTO') or is_granted('ROLE_ALMOXARIFADO') %}
            <div class="pull-left text-left csv">
                <a target="_blank" href="{{ routeCsv }}" class="btn btn-warning btn-sm">Exportar .CSV</a>
            </div>
        {% endif %}
        <div class="pull-right text-right jsonly">
            <form class="form-inline">
                <div class="form-group form-group-sm">
                    <label class="control-label" for="numResultados">Nº de Linhas</label>
                    <select name="numResultados" id="numResultados" class="form-control input-sm inline-block width-auto">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="250">250</option>
                        <option value="500">500</option>
                    </select>
                    <label class="control-label">Total de Itens: {{ pagination.getTotalItemCount }}</label>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $('#numResultados').val({{ numResultados }});

        $('#numResultados').change(function () {
            let src = $(this).val();
            location.href = '?numResultados=' + src;
        });
    </script>
{% endblock %}
