{% extends 'CineviAdminBundle::base.html.twig' %}

{% block mainAction %}
    <a class="navbar-brand btn btn-link" href="{{ routeListar }}">
        {% include 'CineviAdminBundle:SVG:voltar.html.twig' %}
    </a>
{% endblock %}

{% block maisBotoes %}
    {% block maisBotoesBlock %}{% endblock %}
    {% if is_granted('ROLE_FUNCIONARIO') %}
        {{ form_start(deleteForm, { 'attr' : { 'class': 'navbar-form navbar-nav' } }) }}
            {{ form_rest(deleteForm) }}
            {{ form_row(deleteForm.save) }}
        {{ form_end(deleteForm) }}
    {% endif %}
{% endblock %}

{% block body %}

    {{ parent() }}

    {{ form_start(editForm, {'attr': {'novalidate': 'novalidate'}}) }}
        {% block form %}{% endblock %}
        {{ form_rest(editForm) }}
        <br/>
        {{ form_row(editForm.save) }}
    {{ form_end(editForm) }}

{% endblock %}
