{% extends 'CineviAdminBundle::base.html.twig' %}

{% block mainActions %}
    <a class="navbar-brand btn btn-link" href="{{ path('index') }}">
        {% include 'CineviAdminBundle:SVG:voltar.html.twig' %}
    </a>
    {% block addAction %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div class="navbar-form navbar-nav">
                <a class="btn btn-success" href="{{ routeAdicionar }}">{% include 'CineviAdminBundle:SVG:adicionar.html.twig' %}<span class="hidden-xs">Adicionar</span></a>
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}

{% block maisBotoes %}
    {% block maisBotoesBlock %}{% endblock %}
{% endblock %}

{% block body %}

    {{ parent() }}

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    {% block thead %}{% endblock %}
                </tr>
            </thead>
            <tbody>
                {% for item in pagination %}
                    <tr>
                        {% block tbody %}{% endblock %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center">
        {{ knp_pagination_render(pagination) }}
    </div>

    <div class="clearfix">
        <div class="pull-left text-left csv">
            {% if is_granted('ROLE_DEPARTAMENTO') or is_granted('ROLE_ALMOXARIFADO') %}
                <a target="_blank" href="{{ routeCsv }}" class="btn btn-info btn-sm">Exportar .CSV</a>
            {% endif %}
        </div>
        <div class="pull-right text-right">
            <form name="num_resultados" method="get" novalidate="novalidate" class="navbar-form navbar-right">
                <div class="form-group form-group-sm">
                    <label class="control-label" for="numResultados"><small class="text-muted">Nº de resultados</small></label>

                    <input id="num_resultados_numResultados" name="numResultados" placeholder="10" class="form-control" type="number" {% if numResultados is defined and numResultados != null %} value="{{ numResultados }}" {% endif %}>
                </div>
                <button type="submit" class="btn btn-warning btn-sm">OK</button>
            </form>
        </div>
    </div>

{% endblock %}
