{% extends 'CineviAdminBundle::base.html.twig' %}

{% block mainAction %}
    <a class="navbar-brand btn btn-link" href="{{ routeListar }}">
        {% include 'CineviAdminBundle:SVG:voltar.html.twig' %}
    </a>
{% endblock %}

{% block maisBotoes %}
    {% block maisBotoesBlock %}{% endblock %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {{ form_start(deleteForm, { 'attr' : { 'class': 'navbar-form navbar-nav' } }) }}
            {{ form_row(deleteForm.remover) }}
        {{ form_end(deleteForm) }}
    {% endif %}
{% endblock %}

{% block body %}

    {{ parent() }}

    {{ form_start(editForm, {'attr': {'novalidate': 'novalidate'}}) }}
        {% block form %}{% endblock %}
        <br/>
        <button type="submit" class="btn btn-lg btn-warning">Salvar</button>
    {{ form_end(editForm) }}

{% endblock %}
