<dt>{{ dt }}</dt>
{% if item is defined and item != null %}

    {% if dd is not defined %}
        {% set dd = item %}
    {% endif %}

    {% if link is defined and link != null %}
        {% if target is defined and target != null %}
            <a href="{{ link }}" target="{{ target }}"><dd>{{ dd }}</dd></a>
        {% else %}
            <a href="{{ link }}"><dd>{{ dd }}</dd></a>
        {% endif %}
    {% else %}
        <dd>{{ dd }}</dd>
    {% endif %}
{% else %}
    <dd class="text-muted font-style-italic">Não informada(o)</dd>
{% endif %}
