<div class="well" id="equipes" data-prototype="
    {% filter escape %}
        {{ include('RealizacaoBundle:Equipe:form.html.twig', { form: form.equipes.vars.prototype }) }}
    {% endfilter %}">
    {% for equipe in form.equipes %}
        {% include 'RealizacaoBundle:Equipe:form.html.twig' with {form: equipe} %}
    {% endfor %}
</div>

{{ form_row(form.elenco) }}
{{ form_row(form.outrasInformacoes) }}
{{ form_row(form.festivais) }}
{{ form_row(form.premios) }}
