{% include 'realizacao/realizacao/item.html.twig' with {item: item.realizacao} %}

<div class="row">
    <div class="col-sm-4">
        {% include 'admin/parts/nullable_field.html.twig' with {
            'dt': 'Pré-produção',
            'item': item.preProducao,
            'dd': item.preProducao|date('d/m/Y')
        } %}
    </div>
    <div class="col-sm-4">
        {% include 'admin/parts/nullable_field.html.twig' with {
            'dt': 'Produção',
            'item': item.dataProducao,
            'dd': item.dataProducao|date('d/m/Y')
        } %}
    </div>
    <div class="col-sm-4">
        {% include 'admin/parts/nullable_field.html.twig' with {
            'dt': 'Pós-produção',
            'item': item.posProducao,
            'dd': item.posProducao|date('d/m/Y')
        } %}
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <dt>Direção</dt>
        {% if item.direcao is defined and item.direcao is not empty %}
            {% for user in item.direcao %}
                <dd><a href="{{ path('user_user_show', { 'params' : user.id }) }}">{{ user.username }}</a></dd>
            {% endfor %}
        {% else %}
            <dd class="text-muted font-style-italic">Removido ou Não informado</dd>
        {% endif %}
    </div>
    <div class="col-sm-6">
        <dt>Produção</dt>
        {% if item.producao is defined and item.producao is not empty %}
            {% for user in item.producao %}
                <dd><a href="{{ path('user_user_show', { 'params' : user.id }) }}">{{ user.username }}</a></dd>
            {% endfor %}
        {% else %}
            <dd class="text-muted font-style-italic">Removido ou Não informado</dd>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <dt>Direção de Fotografia</dt>
        {% if item.fotografia is defined and item.fotografia is not empty %}
            {% for user in item.fotografia %}
                <dd><a href="{{ path('user_user_show', { 'params' : user.id }) }}">{{ user.username }}</a></dd>
            {% endfor %}
        {% else %}
            <dd class="text-muted font-style-italic">Removido ou Não informado</dd>
        {% endif %}
    </div>
    <div class="col-sm-6">
        {% include 'admin/parts/nullable_field.html.twig' with {
            'dt': 'Já cursou(aram) a disciplina de Fotografia e Iluminação?',
            'item': item.disciplinaFotografia,
            'dd': item.disciplinaFotografia ? 'Sim' : 'Não'
        } %}
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <dt>Direção de Som</dt>
        {% if item.som is defined and item.som is not empty %}
            {% for user in item.som %}
                <dd><a href="{{ path('user_user_show', { 'params' : user.id }) }}">{{ user.username }}</a></dd>
            {% endfor %}
        {% else %}
            <dd class="text-muted font-style-italic">Removido ou Não informado</dd>
        {% endif %}
    </div>
    <div class="col-sm-6">
        {% include 'admin/parts/nullable_field.html.twig' with {
            'dt': 'Já cursou(aram) a disciplina de Técnica de Som em Cinema e Audiovisual?',
            'item': item.disciplinaSom,
            'dd': item.disciplinaSom ? 'Sim' : 'Não'
        } %}
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <dt>Direção de Arte</dt>
        {% if item.arte is defined and item.arte is not empty %}
            {% for user in item.arte %}
                <dd><a href="{{ path('user_user_show', { 'params' : user.id }) }}">{{ user.username }}</a></dd>
            {% endfor %}
        {% else %}
            <dd class="text-muted font-style-italic">Removido ou Não informado</dd>
        {% endif %}
    </div>
    <div class="col-sm-6">
        {% include 'admin/parts/nullable_field.html.twig' with {
            'dt': 'Já cursou(aram) a disciplina de Design Visual?',
            'item': item.disciplinaArte,
            'dd': item.disciplinaArte ? 'Sim' : 'Não'
        } %}
    </div>
</div>
