<header class="header">
    <div class="container{% if containerFluid is defined and containerFluid == true %}-fluid{% endif %}">
        <div class="clearfix">
            <a class="a-logo" href="{{ path('index') }}" title="Departamento de Cinema e Vídeo da Universidade Federal Fluminense (UFF)">
                <div class="logo">
                    {% include 'AdminBundle:SVG:logo.html.twig' %}
                </div>
            </a>

            <nav class="pull-right menu-topo">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <ul class="nav nav-pills">
                        <li {% if app.request.get('_route') == 'fos_user_profile_edit' or app.request.get('_route') == 'fos_user_profile_show' %}class="active"{% endif %} role="presentation">
                            <a href="{{ path('fos_user_profile_show', {user:app.user}) }}">
                                {% include 'AdminBundle:SVG:perfil.html.twig' %}<span class="display-lg display-md display-sm hidden-xs">{{ app.user.username }}</span>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="{{ path('fos_user_security_logout') }}" class="logout text-danger">
                                {% include 'AdminBundle:SVG:sair.html.twig' %}<span class="display-lg display-md display-sm hidden-xs">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</span>
                            </a>
                        </li>
                    </ul>
                {% endif %}
            </nav>

        </div>
    </div>
</header>
