<div class="row">
    <div class="col-xs-12">
        <dt>Título</dt><dd>{{ item.titulo }}</dd>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <dt>Sinopse</dt><dd>{{ item.sinopse|nl2br }}</dd>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <dt>Usuário</dt>
        <dd><a href="{{ path('user_user_show', { 'params' : item.user.id }) }}">{{ item.user.username }}</a></dd>
    </div>
    <div class="col-sm-4">
        <dt>Modalidade</dt>
        <dd><a href="{{ path('realizacao_modalidade_show', { 'params': item.modalidade.id }) }}">{{ item.modalidade.nome }}</a></dd>
    </div>
    <div class="col-sm-4">
        <dt>Professor(a)</dt>
        <dd><a href="{{ path('user_user_show', { 'params': item.professor.id }) }}">{{ item.professor.username }}</a></dd>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        {% include 'admin/parts/nullable_field.html.twig' with {
            'dt': 'Gênero(s)',
            'item': item.genero|join(', ')
        } %}
    </div>
    <div class="col-sm-6">
        {% include 'admin/parts/nullable_field.html.twig' with {
            'dt': 'Captação',
            'item': item.captacao
        } %}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {% include 'admin/parts/nullable_field.html.twig' with {
            'dt': 'Detalhes da Captação',
            'item': item.detalhesCaptacao,
            'nl2br' : true
        } %}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {% include 'admin/parts/nullable_field.html.twig' with {
            'dt': 'Locação(ões)',
            'item': item.locacoes,
            'nl2br' : true
        } %}
    </div>
</div>
