<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-12">
        <div class="panel panel-info panel-main" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#admin-menu" aria-expanded="true" aria-controls="collapse-admin-menu">
                        Sistema<div class="pull-right">{% include 'admin/svg/abrir.html.twig' %}</div>
                    </a>
                </h4>
            </div>
            <div id="admin-menu" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-admin-menu">
                <div class="list-group">
                    <a class="list-group-item {% if app.request.get('_route') == 'user_user_index' or app.request.get('_route') == 'user_user_new' or app.request.get('_route') == 'user_user_show' or app.request.get('_route') == 'user_user_edit' %}active{% endif %}" href="{{ path('user_user_index') }}">
                        {% include 'admin/svg/usuarios.html.twig' %}Usuários
                    </a>

                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <a class="list-group-item {% if app.request.get('_route') == 'config_show' or app.request.get('_route') == 'config_edit' %}active{% endif %}" href="{{ path('config_show') }}">
                            {% include 'admin/svg/config.html.twig' %}Configurações
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-12">
        <div class="panel panel-info panel-main" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#almoxarifado-menu" aria-expanded="true" aria-controls="collapse-almoxarifado-menu">
                        Almoxarifado<div class="pull-right">{% include 'admin/svg/abrir.html.twig' %}</div>
                    </a>
                </h4>
            </div>
            <div id="almoxarifado-menu" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-almoxarifado-menu">
                <div class="list-group">
                    <a class="list-group-item {% if app.request.get('_route') == 'almoxarifado_reserva_index' or app.request.get('_route') == 'almoxarifado_reserva_new' or app.request.get('_route') == 'almoxarifado_reserva_show' or app.request.get('_route') == 'almoxarifado_reserva_edit' %}active{% endif %}" href="{{ path('almoxarifado_reserva_index') }}">
                        {% include 'admin/svg/reservas.html.twig' %}Reservas
                    </a>
                    <a class="list-group-item {% if app.request.get('_route') == 'almoxarifado_equipamento_index' or app.request.get('_route') == 'almoxarifado_equipamento_new' or app.request.get('_route') == 'almoxarifado_equipamento_show' or app.request.get('_route') == 'almoxarifado_equipamento_edit' %}active{% endif %}" href="{{ path('almoxarifado_equipamento_index') }}">
                        {% include 'admin/svg/reservaveis.html.twig' %}Reserváveis
                    </a>
                    <a class="list-group-item {% if app.request.get('_route') == 'almoxarifado_categoria_index' or app.request.get('_route') == 'almoxarifado_categoria_new' or app.request.get('_route') == 'almoxarifado_categoria_show' or app.request.get('_route') == 'almoxarifado_categoria_edit' %}active{% endif %}" href="{{ path('almoxarifado_categoria_index') }}">
                        {% include 'admin/svg/categorias_reservaveis.html.twig' %}Categorias de Reserváveis
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-12">
        <div class="panel panel-info panel-main" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#realizacao-menu" aria-expanded="true" aria-controls="collapse-realizacao-menu">
                        Realização<div class="pull-right">{% include 'admin/svg/abrir.html.twig' %}</div>
                    </a>
                </h4>
            </div>
            <div id="realizacao-menu" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-realizacao-menu">
                <div class="list-group">
                    <a class="list-group-item {% if app.request.get('_route') == 'realizacao_projeto_index' or app.request.get('_route') == 'realizacao_projeto_new' or app.request.get('_route') == 'realizacao_projeto_show' or app.request.get('_route') == 'realizacao_projeto_edit' %}active{% endif %}" href="{{ path('realizacao_projeto_index') }}">
                        {% include 'admin/svg/projetos.html.twig' %}Projetos
                    </a>
                    <a class="list-group-item {% if app.request.get('_route') == 'realizacao_copia_final_index' or app.request.get('_route') == 'realizacao_copia_final_new' or app.request.get('_route') == 'realizacao_copia_final_show' or app.request.get('_route') == 'realizacao_copia_final_edit' %}active{% endif %}" href="{{ path('realizacao_copia_final_index') }}">
                        {% include 'admin/svg/copias_finais.html.twig' %}Cópias Finais
                    </a>
                    <a class="list-group-item {% if app.request.get('_route') == 'realizacao_funcao_index' or app.request.get('_route') == 'realizacao_funcao_new' or app.request.get('_route') == 'realizacao_funcao_show' or app.request.get('_route') == 'realizacao_funcao_edit' %}active{% endif %}" href="{{ path('realizacao_funcao_index') }}">
                        {% include 'admin/svg/funcoes.html.twig' %}Funções
                    </a>
                    <a class="list-group-item {% if app.request.get('_route') == 'realizacao_modalidade_index' or app.request.get('_route') == 'realizacao_modalidade_new' or app.request.get('_route') == 'realizacao_modalidade_show' or app.request.get('_route') == 'realizacao_modalidade_edit' %}active{% endif %}" href="{{ path('realizacao_modalidade_index') }}">
                        {% include 'admin/svg/modalidades.html.twig' %}Modalidades
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
