<div class="well" id="equipes" data-prototype="
    {% filter escape %}
        {{ include('CineviRealizacaoBundle:Equipe:form.html.twig', { form: form.equipes.vars.prototype }) }}
    {% endfilter %}">
    {% for equipe in form.equipes %}
        {% include 'CineviRealizacaoBundle:Equipe:form.html.twig' with {form: equipe} %}
    {% endfor %}
</div>

<div class="row">
    <div class="col-sm-6">{{ form_row(form.elenco) }}</div>
    <div class="col-sm-6">{{ form_row(form.outrasInformacoes) }}</div>
</div>
<div class="row">
    <div class="col-sm-6">{{ form_row(form.festivais) }}</div>
    <div class="col-sm-6">{{ form_row(form.premios) }}</div>
</div>
