{% extends 'admin/base.html.twig' %}

{% block mainActions %}
    <a class="navbar-brand btn btn-link" href="{{ routeList }}">
        {% include 'admin/svg/voltar.html.twig' %}
    </a>
    {% block editAction %}
        {% if is_granted('edit', item) or app.user == item %}
            <div class="navbar-form navbar-nav">
                <a class="btn btn-info" href="{{ routeEdit }}">{% include 'admin/svg/editar.html.twig' %}<span class="hidden-xs">Editar</span></a>
            </div>
        {% endif %}
    {% endblock %}
    {% block deleteAction %}
        {% if is_granted('delete', item) %}
            {% include 'admin/parts/delete.html.twig' %}
        {% endif %}
    {% endblock %}
{% endblock %}

{% block body %}

    {{ parent() }}

    <dl class="main-dl">
        {% block dtdd %}{% endblock %}

        {% if is_granted('ROLE_DEPARTAMENTO', item) or  is_granted('ROLE_ALMOXARIFADO', item) %}
            {% include 'admin/parts/info_versao.html.twig' %}
        {% endif %}
    </dl>

    {% block extras %}{% endblock %}

    {% block historico %}

        <h2 id="historico" class="text-primary">Versões Anteriores</h2>

        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(paginationHistorico, 'Nº da versão', 'historico.versao') }}</th>
                        <th>{{ knp_pagination_sortable(paginationHistorico, 'Data e hora desta versão', 'historico.versao') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in paginationHistorico %}
                        <tr>
                            <td>
                                <a href="{{ path(routeHistoricoName, { 'id': item.id }) }}">
                                    #{{ item.versao }}
                                </a>
                            </td>
                            <td>{{ attribute(item.data, 'Data e hora desta versão') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% include 'admin/pagination/pagination.html.twig' with { name: 'num_linhas_historico', pagination: paginationHistorico } %}

    {% endblock %}

{% endblock %}
