{% trans_default_domain 'FOSUserBundle' %}
<dl>
    <div class="row">
        <div class="col-sm-6"><dt>Nome Completo</dt><dd>{{ user.username }}</dd></div>
        <div class="col-sm-6"><dt>Email</dt><dd>{{ user.email }}</dd></div>
    </div>

    <div class="row">
        <div class="col-sm-6"><dt>Matrícula/SIAPE</dt><dd>{{ user.matricula }}</dd></div>
        <div class="col-sm-6"><dt>Telefone</dt><dd>{{ user.telefone }}</dd></div>
    </div>
    <div class="row">
        <div class="col-sm-4"><dt>Professor?</dt><dd>{{ user.professor ? 'Sim' : 'Não' }}</dd></div>
        <div class="col-sm-4"><dt>Ativo?</dt><dd>{{ user.enabled ? 'Sim' : 'Não' }}</dd></div>
        <div class="col-sm-4"><dt>Confirmado?</dt><dd>{{ user.confirmado ? 'Sim' : 'Não' }}</dd></div>
    </div>
    <div class="row">
        <div class="col-xs-12"><dt>Permissão(ões) de</dt>
            {% for role in user.roles %}
                {% if role == 'ROLE_SUPER_ADMIN' %}
                    <dd>Administrador</dd>
                {% elseif role == 'ROLE_ALMOXARIFADO' %}
                    <dd>Almoxarifado</dd>
                {% elseif role == 'ROLE_DEPARTAMENTO' %}
                    <dd>Departamento</dd>
                {% else %}
                    <dd>Usuário</dd>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% include 'CineviAdminBundle:Parts:nullable-field.html.twig' with {
        'dt': 'Breve Currículo',
        'item': user.breveCurriculo
    } %}
    <div class="row">
        <div class="col-sm-6"><dt>Criado em</dt><dd>{{ user.createdIn|date('d/m/Y H:m:s') }}</dd></div>
        <div class="col-sm-6"><dt>Última atualização em</dt><dd>{{ user.updatedIn|date('d/m/Y H:m:s') }}</dd></div>
    </div>
</dl>
