<div class="row">
    <div class="col-sm-6">{{ form_row(form.user) }}</div>
    <div class="col-sm-6">{{ form_row(form.projeto) }}</div>
</div>
<div class="row">
    <div class="col-sm-6">{{ form_row(form.startDate) }}</div>
    <div class="col-sm-6">{{ form_row(form.endDate) }}</div>
</div>
{{ form_row(form.equipamentos) }}
