<td><a href="{{ path('almoxarifado_reserva_show', { 'params': item.id }) }}">{{ item.title }}</a></td>
<td><a href="{{ path('almoxarifado_reserva_show', { 'params': item.id }) }}">{{ item.startDate|date('d/m/Y') }}</a></td>
<td><a href="{{ path('almoxarifado_reserva_show', { 'params': item.id }) }}">{{ item.endDate|date('d/m/Y') }}</a></td>
