<div class="row">
    <div class="col-sm-6">{{ form_row(form.username) }}</div>
    <div class="col-sm-6">{{ form_row(form.email) }}</div>
</div>

{% block senhas %}{% endblock %}

<div class="row">
    <div class="col-sm-6">{{ form_row(form.matricula) }}</div>
    <div class="col-sm-6">{{ form_row(form.telefone) }}</div>
</div>

{% if is_granted('ROLE_DEPARTAMENTO') %}
    <div class="row">
        <div class="col-sm-4">{{ form_row(form.enabled) }}</div>
        <div class="col-sm-4">{{ form_row(form.confirmado) }}</div>
        <div class="col-sm-4">{{ form_row(form.professor) }}</div>
    </div>
{% endif %}

{{ form_row(form.breveCurriculo) }}

{% if is_granted('ROLE_SUPER_ADMIN') %}
    {{ form_row(form.roles) }}
{% endif %}
