{% extends 'CineviAdminBundle:Crud:base-listar.html.twig' %}

{% set title = 'Usuários' %}
{% set routeAdicionar = path('new_user') %}
{% set routeCsv = path('users_csv') %}

{% block maisBotoes %}
    {% block maisBotoesBlock %}{% endblock %}
    {% if is_granted('ROLE_DEPARTAMENTO') %}
        <div class="navbar-form navbar-nav">
            <a class="btn btn-success" href="{{ routeAdicionar }}">Adicionar</a>
        </div>
    {% endif %}
{% endblock %}

{% block thead %}
    <th>{{ knp_pagination_sortable(pagination, 'Nome', 'item.username') }}</th>
    <th>{{ knp_pagination_sortable(pagination, 'Email', 'item.email') }}</th>
{% endblock %}

{% block tbody %}
    <td>
        <a href="{{ path('get_user', { 'id': item.id }) }}">{{ item.username }}</a>
    </td>
    <td>{{ item.email }}</td>
{% endblock %}
