{% extends 'CineviAdminBundle:Crud:base-mostrar.html.twig' %}

{% set title = item.username %}
{% set routeListar = path('get_users') %}
{% set routeEditar = path('edit_user', { 'id': item.id }) %}

{% block maisActionsButton %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block maisBotoes %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block dtdd %}
    <div class="row">
        <div class="col-sm-6 col-md-3"><dt>Nome</dt><dd>{{ item.username }}</dd></div>
        <div class="col-sm-6 col-md-3"><dt>Email</dt><dd>{{ item.email }}</dd></div>
        <div class="col-sm-6 col-md-3"><dt>Matrícula</dt><dd>{{ item.matricula }}</dd></div>
        <div class="col-sm-6 col-md-3"><dt>Professor?</dt><dd>{{ item.professor ? 'Sim' : 'Não' }}</dd></div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3"><dt>Telefone</dt><dd>{{ item.telefone }}</dd></div>
        <div class="col-sm-6 col-md-3"><dt>Ativo?</dt><dd>{{ item.enabled ? 'Sim' : 'Não' }}</dd></div>
        <div class="col-sm-6 col-md-3"><dt>Confirmado?</dt><dd>{{ item.confirmado ? 'Sim' : 'Não' }}</dd>
        </div>
        <div class="col-sm-6 col-md-3"><dt>Nível de Permissão</dt><dd>
            {% if 'ROLE_SUPER_ADMIN' in item.roles %}
                Administrador
            {% elseif 'ROLE_FUNCIONARIO' in item.roles %}
                Funcionário
            {% else %}
                Usuário
            {% endif %}
        </dd></div>
    </div>
{% endblock %}
