{% extends 'CineviAdminBundle:Crud:base-mostrar.html.twig' %}

{% set title = item.username %}
{% set routeListar = path('get_users') %}
{% set routeEditar = path('edit_user', { 'id': item.id }) %}

{% block maisBotoes %}
    {% block maisBotoesBlock %}{% endblock %}
    {% if is_granted('ROLE_DEPARTAMENTO') %}
        <div class="navbar-form navbar-nav">
            <a class="btn btn-info" href="{{ routeEditar }}">Editar</a>
        </div>
    {% endif %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {{ form_start(deleteForm, { 'attr' : { 'class': 'navbar-form navbar-left' } }) }}
            {{ form_row(deleteForm.remover) }}
        {{ form_end(deleteForm) }}
    {% endif %}
{% endblock %}

{% block dtdd %}
    <div class="row">
        <div class="col-sm-6"><dt>Nome</dt><dd>{{ item.username }}</dd></div>
        <div class="col-sm-6"><dt>Email</dt><dd>{{ item.email }}</dd></div>
    </div>
    <div class="row">
        <div class="col-sm-6"><dt>Matrícula/SIAP</dt><dd>{{ item.matricula }}</dd></div>
        <div class="col-sm-6"><dt>Professor?</dt><dd>{{ item.professor ? 'Sim' : 'Não' }}</dd></div>
    </div>
    <div class="row">
        <div class="col-sm-6"><dt>Telefone</dt><dd>{{ item.telefone }}</dd></div>
        <div class="col-sm-6"><dt>Ativo?</dt><dd>{{ item.enabled ? 'Sim' : 'Não' }}</dd></div>
    </div>
    <div class="row">
        <div class="col-sm-6"><dt>Confirmado?</dt><dd>{{ item.confirmado ? 'Sim' : 'Não' }}</dd>
        </div>
        <div class="col-sm-6"><dt>Permissão(ões)</dt>
            {% for role in item.roles %}
                {% if role == 'ROLE_SUPER_ADMIN' %}
                    <dd>Administrador</dd>
                {% elseif role == 'ROLE_ALMOXARIFADO' %}
                    <dd>Almoxarifado</dd>
                {% elseif role == 'ROLE_DEPARTAMENTO' %}
                    <dd>Departamento</dd>
                {% else %}
                    <dd>Usuário</dd>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <dt>Breve Currículo</dt><dd class="inherit">{{ item.breveCurriculo ? item.breveCurriculo : 'Não informada(o)' }}</dd>
{% endblock %}
