{% extends 'admin/crud/base_edit.html.twig' %}

{% set title = 'Editar ' ~ item.realizacao.titulo %}
{% set routeList = path('realizacao_copia_final_index') %}

{% block alerts %}
    {{ parent() }}

    {% if (app.user is defined and app.user == item.realizacao.user) and (item.confirmado is not defined or item.confirmado != true) and (configuration is defined and configuration.mensagemCopiaFinal is defined and configuration.mensagemCopiaFinal is not empty) %}
        <div class="alert alert-danger alert-dismissal fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
            {{ configuration.mensagemCopiaFinal }}
        </div>
    {% endif %}
{% endblock %}

{% block form %}

    {% include 'realizacao/copia_final/form.html.twig' with {form: edit_form} %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/to-many.js') }}"></script>
    <script src="{{ asset('js/cinevi/realizacao/ficha-tecnica/equipe.js') }}"></script>
{% endblock %}
