{% extends 'admin/crud/base_show.html.twig' %}

{% set title = item.realizacao.titulo %}
{% set routeList = path('realizacao_copia_final_index') %}
{% set routeEdit = path('realizacao_copia_final_edit', { 'params': item.id }) %}
{% set routeHistoricoName = 'realizacao_copia_final_historico' %}

{% block alerts %}
    {{ parent() }}

    {% if (app.user is defined and app.user == item.realizacao.user) and (item.confirmado is not defined or item.confirmado != true) and (configuration is defined and configuration.mensagemCopiaFinal is defined and configuration.mensagemCopiaFinal is not empty) %}
        <div class="alert alert-danger alert-dismissal fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
            {{ configuration.mensagemCopiaFinal|nl2br }}
        </div>
    {% endif %}
{% endblock %}

{% block dtdd %}

    {% include 'realizacao/copia_final/item.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            {% if item.linkVideo is defined and item.linkVideo is not empty %}
                var parsedVideo = parseVideo('{{ item.linkVideo }}');

                if (parsedVideo.type == 'vimeo' || parsedVideo.type == 'youtube') {
                    {% if item.senhaVideo is defined and item.senhaVideo is not empty %}
                        var senha = '{{ item.senhaVideo }}';
                    {% else %}
                        var senha = null;
                    {% endif %}

                    $('.main-dl').before( buildEmbed(parsedVideo.type, parsedVideo.id, senha) );
                } else {
                    return false;
                }

            {% endif %}
        });
    </script>
{% endblock %}
