<fieldset>
    <legend id="{{ legend }}"><a href="#{{ legend }}">{{ legend }}</a></legend>
    <div class="row">
        <div class="col-sm-6">
            {{ form_row(form.users) }}
            {% block disciplina %}{% endblock %}
        </div>
        <div class="col-sm-6">
            {{ form_row(form.breveCurriculo) }}
        </div>
    </div>
</fieldset>
