{% extends 'CineviAdminBundle:Crud:base-listar.html.twig' %}

{% set title = 'Projetos' %}
{% set routeAdicionar = path('new_projeto') %}
{% set routeCsv = path('projetos_csv') %}

{% block addAction %}
    <div class="navbar-form navbar-nav">
        <a class="btn btn-success" href="{{ routeAdicionar }}">{% include 'CineviAdminBundle:SVG:adicionar.html.twig' %}<span class="hidden-xs">Adicionar</span></a>
    </div>
{% endblock %}

{% block thead %}
    <th>{{ knp_pagination_sortable(pagination, 'Título', 'r.titulo') }}</th>
    <th>{{ knp_pagination_sortable(pagination, 'Usuário', 'u.username') }}</th>
{% endblock %}

{% block tbody %}
    <td>
        <a href="{{ path('get_projeto', { 'id': item.id }) }}">{{ item.realizacao.titulo }}</a>
    </td>
    <td>
        <a href="{{ path('get_user', { 'id': item.realizacao.user.id }) }}">{{ item.realizacao.user.username }}</a>
    </td>
{% endblock %}
