<!DOCTYPE html>
<html dir="ltr" lang="pt-BR">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Departamento de Cinema e Vídeo da Universidade Federal Fluminense (UFF)</title>
        <meta name="description" content="Cadastre projetos, reserve equipamentos no almoxarifado e muito mais pelo celular, tablet ou qualquer outro dispositivo com acesso à internet. Sistema para alunos, funcionários ou professores do Departamento de Cinema e Vídeo da Universidade Federal Fluminense." />
        <meta name="subject" content="Todos os serviços do departamento em qualquer lugar." />
        <meta name="robots" content="index, follow" />
        <meta name="googlebot" content="index, follow" />
        <link rel="author" href="{{ asset('humans.txt') }}">
        <link href="{{ asset('manifest.json') }}" rel="manifest">
        {% block stylesheets %}
            <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('vendor/bootstrap/css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('css/estilos.min.css') }}" rel="stylesheet" type="text/css" />
            <!--[if gte IE 9]>
                <style type="text/css">
                    .header,
                    .header-home,
                    .content-security .well {
                        filter: none;
                    }
                </style>
            <![endif]-->
        {% endblock %}
        <!-- FAVICONS -->
    	<link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-icon-57x57.png') }}">
    	<link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-icon-60x60.png') }}">
    	<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-icon-72x72.png') }}">
    	<link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-icon-76x76.png') }}">
    	<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-icon-114x114.png') }}">
    	<link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-icon-120x120.png') }}">
    	<link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-icon-144x144.png') }}">
    	<link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-icon-152x152.png') }}">
    	<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-icon-180x180.png') }}">
    	<link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('android-icon-192x192.png') }}">
    	<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    	<link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicon-96x96.png') }}">
    	<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <!--[if lt IE 9]>
            <script src="{{ asset('vendor/html5shiv/js/html5shiv.min.js') }}"></script>
            <script src="{{ asset('vendor/respond/js/respond.min.js') }}"></script>
        <![endif]-->
    </head>
    <body class="body-security">
        {% include 'home/header_home.html.twig' %}

        <div class="content content-security">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-push-2 col-sm-10 col-sm-push-1">
                        <div class="jumbotron text-center">
                            <h1>Todos os serviços do departamento em qualquer lugar.</h1>
                            <p>Cadastre projetos, reserve equipamentos no almoxarifado e muito mais pelo celular, tablet ou qualquer outro dispositivo com acesso à internet.</p>

                            <p><strong>Se você é aluno, funcionário ou professor do Departamento de Cinema e Vídeo da UFF, <a href="{{ path('index') }}">acesse o sistema</a>.</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'admin/footer.html.twig' %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
