{{ form_row(form.titulo) }}
{{ form_row(form.sinopse) }}
<div class="row">
    <div class="col-sm-4">{{ form_row(form.user) }}</div>
    <div class="col-sm-4">{{ form_row(form.modalidade) }}</div>
    <div class="col-sm-4">{{ form_row(form.professor) }}</div>
</div>
<div class="row">
    <div class="col-sm-6">{{ form_row(form.genero) }}</div>
    <div class="col-sm-6">{{ form_row(form.captacao) }}</div>
</div>
<div class="row">
    <div class="col-sm-6">{{ form_row(form.detalhesCaptacao) }}</div>
    <div class="col-sm-6">{{ form_row(form.locacoes) }}</div>
</div>
