<dt>Título</dt><dd>{{ item.titulo }}</dd>
<dt>Sinopse</dt><dd class="inherit">{{ item.sinopse }}</dd>

<div class="row">
    <div class="col-sm-4"><dt>Usuário</dt><dd><a href="{{ path('get_user', {id:item.user.id}) }}">{{ item.user.username }}</a></dd></div>
    <div class="col-sm-4"><dt>Modalidade</dt><dd>{{ item.modalidade }}</dd></div>
    <div class="col-sm-4"><dt>Professor(a)</dt><dd>{{ item.professor.username }}</dd></div>
</div>
<div class="row">
    <div class="col-sm-6"><dt>Gênero</dt><dd>{{ item.genero }}</dd></div>
    <div class="col-sm-6"><dt>Captação</dt><dd>{{ item.captacao }}</dd></div>
</div>
<div class="row">
    <div class="col-sm-6"><dt>Detalhes da Captação</dt><dd class="inherit">{{ item.detalhesCaptacao ? item.detalhesCaptacao : 'Não Informado'}}</dd></div>
    <div class="col-sm-6"><dt>Locação(ões)</dt><dd class="inherit">{{ item.locacoes }}</dd></div>
</div>
