<!DOCTYPE html>
<html dir="ltr" lang="pt-BR">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% if title is defined %}{{ title }} - {% endif %}Departamento de Cinema e Vídeo da Universidade Federal Fluminense (UFF)</title>
        <meta name="description" content="Cadastre projetos, reserve equipamentos no almoxarifado e muito mais pelo celular, tablet ou qualquer outro dispositivo com acesso à internet. Sistema para alunos, funcionários ou professores do Departamento de Cinema e Vídeo da Universidade Federal Fluminense." />
        <meta name="subject" content="Todos os serviços do departamento qualquer lugar." />
        <meta name="robots" content="noindex, nofollow" />
        <meta name="googlebot" content="noindex, nofollow" />
        <link rel="author" href="{{ asset('humans.txt') }}">
        <link href="{{ asset('manifest.json') }}" rel="manifest">
        {% block stylesheets %}
            <link href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('vendor/bootstrap/css/bootstrap-theme.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('vendor/select2/css/select2.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('vendor/select2/css/select2-bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('vendor/datepicker/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('css/estilos.min.css') }}" rel="stylesheet" type="text/css" />
            <!--[if gte IE 9]>
                <style type="text/css">
                    .header,
                    .header-public,
                    .content-security .well {
                        filter: none;
                    }
                </style>
            <![endif]-->
        {% endblock %}
    	<link rel="apple-touch-icon" sizes="57x57" href="{{ asset('apple-icon-57x57.png') }}">
    	<link rel="apple-touch-icon" sizes="60x60" href="{{ asset('apple-icon-60x60.png') }}">
    	<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('apple-icon-72x72.png') }}">
    	<link rel="apple-touch-icon" sizes="76x76" href="{{ asset('apple-icon-76x76.png') }}">
    	<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('apple-icon-114x114.png') }}">
    	<link rel="apple-touch-icon" sizes="120x120" href="{{ asset('apple-icon-120x120.png') }}">
    	<link rel="apple-touch-icon" sizes="144x144" href="{{ asset('apple-icon-144x144.png') }}">
    	<link rel="apple-touch-icon" sizes="152x152" href="{{ asset('apple-icon-152x152.png') }}">
    	<link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-icon-180x180.png') }}">
    	<link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('android-icon-192x192.png') }}">
    	<link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    	<link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicon-96x96.png') }}">
    	<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <!--[if lt IE 9]>
            <script src="{{ asset('vendor/html5shiv/js/html5shiv.min.js') }}"></script>
            <script src="{{ asset('vendor/respond/js/respond.min.js') }}"></script>
        <![endif]-->
    </head>
    <body>

        <a class="overlay-alert pular-para-conteudo" href="#conteudo"><span class="label label-primary">Pular para Conteúdo</span></a>

        {% block header %}
            {% include 'CineviAdminBundle::header.html.twig' %}
        {% endblock %}

        <div class="content">
            <div class="container{% if containerFluid is defined and containerFluid == true %}-fluid{% endif %}">

                <div class="row">
                    <main class="main {% if app.user is not empty and app.user.confirmado == true or is_granted('ROLE_DEPARTAMENTO') or is_granted('ROLE_ALMOXARIFADO') %}col-md-9 col-md-push-3{% else %}col-xs-12{% endif %}">

                        {% block navbar %}
                            <nav class="navbar navbar-default">
                                <div class="container-fluid">
                                    <div class="navbar-header">
                                        {% block maisActionsButton %}{% endblock %}
                                        {% block mainActions %}{% endblock %}
                                    </div>

                                    {% block maisActions %}{% endblock %}
                                </div>
                            </nav>
                        {% endblock %}

                        {% block body %}
                            <h1 class="page-header" id="conteudo"><a href="#conteudo">{{ title }}</a></h1>

                            {% block alerts %}
                                {% for type, messages in app.session.flashBag.all %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ type }} alert-dismissal fade in" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                                            {{ message|trans({}, 'FOSUserBundle') }}
                                        </div>
                                    {% endfor %}
                                {% endfor %}

                                {% if app.user.confirmado is not defined or app.user.confirmado != true %}
                                    <div class="alert alert-warning alert-dismissal fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                                        Seus dados ainda não foram confirmados. Até lá, você não poderá realizar ações no sistema. <a href="{{ path('fos_user_profile_edit', {user:app.user}) }}" class="alert-link">Edite o seu perfil</a> com nome, matrícula e telefone corretos e você receberá um email assim que seu cadastro for confirmado. Caso você não receba este email, entre em contato com o departamento.
                                    </div>
                                {% endif %}

                                {% if form is defined and form.vars is defined and not form.vars.valid %}
                                    <div class="alert alert-danger alert-dismissal fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                                        Existem erros no formulário. Cheque os campos e tente novamente.
                                    </div>
                                {% endif %}

                                {% if is_granted('ROLE_SUPER_ADMIN') and configuration is defined and configuration is empty %}
                                    <div class="alert alert-warning alert-dismissal fade in" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                                        As configurações ainda não foram criadas. <a href="{{ path('get_configurations') }}" class="alert-link">Crie-as</a> para controlar o funcionamento do sistema.
                                    </div>
                                {% endif %}
                            {% endblock %}
                        {% endblock %}
                    </main>

                    {% if app.user is not empty and app.user.confirmado == true or is_granted('ROLE_DEPARTAMENTO') or is_granted('ROLE_ALMOXARIFADO') %}
                        {% block mainMenu %}
                            <aside class="aside col-md-3 col-md-pull-9">
                                {% include 'CineviAdminBundle::menu.html.twig' %}
                            </aside>
                        {% endblock %}
                    {% endif %}

                </div>
            </div>
        </div>

        {% block footer %}
            {% include 'CineviAdminBundle::footer.html.twig' %}
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('vendor/jquery/js/jquery.min.js') }}"></script>
            <script src="{{ asset('vendor/select2/js/select2.min.js') }}"></script>
            <script src="{{ asset('vendor/select2/js/i18n/pt-BR.js') }}"></script>
            <script src="{{ asset('vendor/moment/js/moment.min.js') }}"></script>
            <script src="{{ asset('vendor/moment/js/locale/pt-br.js') }}"></script>
            <script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('vendor/datepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
            <script src="{{ asset('vendor/responsive-bootstrap-toolkit/js/bootstrap-toolkit.min.js') }}"></script>
            <script src="{{ asset('vendor/autosize/js/autosize.min.js') }}"></script>
            <script src="{{ asset('vendor/jquery.mask/jquery.mask.min.js') }}"></script>
            <script src="{{ asset('js/masks.js') }}"></script>
            <script src="{{ asset('js/admin.js') }}"></script>
        {% endblock %}
    </body>
</html>
