<div class="row">
    {% if is_granted('ROLE_DEPARTAMENTO') or is_granted('ROLE_ALMOXARIFADO') %}
        <div class="col-xs-12 col-sm-4 col-md-12">
            <div class="panel panel-info panel-main" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#admin-menu" aria-expanded="true" aria-controls="collapse-admin-menu">
                            Sistema<div class="pull-right">{% include 'CineviAdminBundle:SVG:abrir.html.twig' %}</div>
                        </a>
                    </h4>
                </div>
                <div id="admin-menu" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-admin-menu">
                    <div class="list-group">
                        <a class="list-group-item {% if app.request.get('_route') == 'cget_usuarios' or app.request.get('_route') == 'new_usuarios' or app.request.get('_route') == 'get_usuarios' or app.request.get('_route') == 'edit_usuarios' or app.request.get('_route') == 'post_usuarios' or app.request.get('_route') == 'put_usuarios' %}active{% endif %}" href="{{ path('cget_usuarios') }}">
                            {% include 'CineviAdminBundle:SVG:usuarios.html.twig' %}Usuários
                        </a>

                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <a class="list-group-item {% if app.request.get('_route') == 'get_configuracoes' or app.request.get('_route') == 'edit_configuracoes' or app.request.get('_route') == 'put_configuracoes' %}active{% endif %}" href="{{ path('get_configuracoes') }}">
                                {% include 'CineviAdminBundle:SVG:config.html.twig' %}Configurações
                            </a>
                        {% endif %}
                        {% block maisOpcoesMainMenu %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="col-xs-12 {% if is_granted('ROLE_DEPARTAMENTO') or is_granted('ROLE_ALMOXARIFADO') %}col-sm-4{% else %}col-sm-6{% endif %} col-md-12">
        <div class="panel panel-info panel-main" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#almoxarifado-menu" aria-expanded="true" aria-controls="collapse-almoxarifado-menu">
                        Almoxarifado<div class="pull-right">{% include 'CineviAdminBundle:SVG:abrir.html.twig' %}</div>
                    </a>
                </h4>
            </div>
            <div id="almoxarifado-menu" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-almoxarifado-menu">
                <div class="list-group">
                    <a class="list-group-item {% if app.request.get('_route') == 'cget_reservas' or app.request.get('_route') == 'new_reservas' or app.request.get('_route') == 'get_reservas' or app.request.get('_route') == 'edit_reservas'  or app.request.get('_route') == 'post_reservas' or app.request.get('_route') == 'put_reservas' %}active{% endif %}" href="{{ path('cget_reservas') }}">
                        {% include 'CineviAdminBundle:SVG:reservas.html.twig' %}Reservas
                    </a>
                    <a class="list-group-item {% if app.request.get('_route') == 'cget_reservaveis' or app.request.get('_route') == 'new_reservaveis' or app.request.get('_route') == 'get_reservaveis' or app.request.get('_route') == 'edit_reservaveis' or app.request.get('_route') == 'post_reservaveis' or app.request.get('_route') == 'put_reservaveis' %}active{% endif %}" href="{{ path('cget_reservaveis') }}">
                        {% include 'CineviAdminBundle:SVG:reservaveis.html.twig' %}Reserváveis
                    </a>
                    <a class="list-group-item {% if app.request.get('_route') == 'cget_categorias-reservaveis' or app.request.get('_route') == 'new_categorias-reservaveis' or app.request.get('_route') == 'get_categorias-reservaveis' or app.request.get('_route') == 'edit_categorias-reservaveis' or app.request.get('_route') == 'post_categorias-reservaveis' or app.request.get('_route') == 'put_categorias-reservaveis' %}active{% endif %}" href="{{ path('cget_categorias-reservaveis') }}">
                        {% include 'CineviAdminBundle:SVG:categorias-reservaveis.html.twig' %}Categorias de Reserváveis
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 {% if is_granted('ROLE_DEPARTAMENTO') or is_granted('ROLE_ALMOXARIFADO') %}col-sm-4{% else %}col-sm-6{% endif %} col-md-12">
        <div class="panel panel-info panel-main" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#realizacao-menu" aria-expanded="true" aria-controls="collapse-realizacao-menu">
                        Realização<div class="pull-right">{% include 'CineviAdminBundle:SVG:abrir.html.twig' %}</div>
                    </a>
                </h4>
            </div>
            <div id="realizacao-menu" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-realizacao-menu">
                <div class="list-group">
                    <a class="list-group-item {% if app.request.get('_route') == 'cget_projetos' or app.request.get('_route') == 'new_projetos' or app.request.get('_route') == 'get_projetos' or app.request.get('_route') == 'edit_projetos' or app.request.get('_route') == 'post_projetos' or app.request.get('_route') == 'put_projetos' %}active{% endif %}" href="{{ path('cget_projetos') }}">
                        {% include 'CineviAdminBundle:SVG:projetos.html.twig' %}Projetos
                    </a>
                    <a class="list-group-item {% if app.request.get('_route') == 'cget_copias-finais' or app.request.get('_route') == 'new_copias-finais' or app.request.get('_route') == 'get_copias-finais' or app.request.get('_route') == 'edit_copias-finais' or app.request.get('_route') == 'post_copias-finais' or app.request.get('_route') == 'put_copias-finais' %}active{% endif %}" href="{{ path('cget_copias-finais') }}">
                        {% include 'CineviAdminBundle:SVG:copias-finais.html.twig' %}Cópias Finais
                    </a>
                    <a class="list-group-item {% if app.request.get('_route') == 'cget_funcoes' or app.request.get('_route') == 'new_funcoes' or app.request.get('_route') == 'get_funcoes' or app.request.get('_route') == 'edit_funcoes' or app.request.get('_route') == 'post_funcoes' or app.request.get('_route') == 'put_funcoes' %}active{% endif %}" href="{{ path('cget_funcoes') }}">
                        {% include 'CineviAdminBundle:SVG:funcoes.html.twig' %}Funções
                    </a>
                    <a class="list-group-item {% if app.request.get('_route') == 'cget_modalidades' or app.request.get('_route') == 'new_modalidades' or app.request.get('_route') == 'get_modalidades' or app.request.get('_route') == 'edit_modalidades' or app.request.get('_route') == 'post_modalidades' or app.request.get('_route') == 'put_modalidades' %}active{% endif %}" href="{{ path('cget_modalidades') }}">
                        {% include 'CineviAdminBundle:SVG:modalidades.html.twig' %}Modalidades
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
