{% extends 'CineviAdminBundle::email.html.twig' %}

{% block message %}

<p>Uma nova reserva de equipamento/espaço acaba de ser registrada por <strong>{{ item.user.username }}</strong> de <strong>{{ item.startDate|date('d/m/Y') }}</strong> a <strong>{{ item.endDate|date('d/m/Y') }}</strong>.</p>

<table border='1' style='border-collapse: collapse; border-spacing: 0; width: 100%; margin-bottom: 20px; font-size: 1rem; color: #333; font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;'>
    <thead>
        <tr>
            <th>Cód.</th>
            <th>Reservável</th>
        </tr>
    </thead>
    <tbody>
        {% for equipamento in item.equipamentos %}
            <tr>
                <td>{{ equipamento.codigo }}</td>
                <td>{{ equipamento.nome }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<p>Para vê-la, acesse o link abaixo:</p><p><a target='_blank' href='{{ url }}'>{{ url }}</a></p>

{% endblock %}
