{% extends 'CineviAdminBundle::base.html.twig' %}

{% set title = 'Reservas' %}
{% set routeCsv = path('reservas_csv') %}
{% set routeAdd = path('new_reserva') %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.min.css') }}" />
    <link rel="stylesheet" media="print" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.print.css') }}" />
    {{ parent() }}
{% endblock %}

{% block mainActions %}
    <a class="navbar-brand btn btn-link" href="{{ path('index') }}">
        {% include 'CineviAdminBundle:SVG:voltar.html.twig' %}
    </a>
    {% block addAction %}
        <div class="navbar-form navbar-nav">
            <a class="btn btn-success" href="{{ routeAdd }}">{% include 'CineviAdminBundle:SVG:adicionar.html.twig' %}<span class="hidden-xs">Adicionar</span></a>
        </div>
    {% endblock %}
{% endblock %}

{% block maisBotoes %}
    {% block maisBotoesBlock %}{% endblock %}
{% endblock %}

{% block body %}

    {{ parent() }}

    {% include '@FullCalendar/Calendar/calendar.html.twig' %}

    <noscript>
        <div class="table-responsive">
            <table class="table table-striped table-hovered">
                <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'Cód.', 'item.title') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Retirada', 'item.startDate') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Devolução', 'item.endDate') }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in pagination %}
                        <tr>
                            <td><a href="{{ path('get_reserva', { 'id': item.id }) }}">{{ item.title }}</a></td>
                            <td><a href="{{ path('get_reserva', { 'id': item.id }) }}">{{ item.startDate|date('d/m/Y') }}</a></td>
                            <td><a href="{{ path('get_reserva', { 'id': item.id }) }}">{{ item.endDate|date('d/m/Y') }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <div class="clearfix">
            <div class="pull-left text-left csv-counter">
                {% if is_granted('ROLE_DEPARTAMENTO') or is_granted('ROLE_ALMOXARIFADO') %}
                    <a target="_blank" href="{{ routeCsv }}" class="btn btn-info btn-sm">Exportar .CSV</a>
                {% endif %}
                <div class="navbar-form"><label><small class="text-muted">Total de Itens: {{ pagination.getTotalItemCount }}</small></label></div>
            </div>
            <div class="pull-right text-right">
                <form name="num_resultados" method="get" novalidate="novalidate" class="navbar-form navbar-right">
                    <div class="form-group form-group-sm">
                        <label class="control-label" for="numResultados"><small class="text-muted">Nº de resultados</small></label>

                        <input id="num_resultados_numResultados" name="numResultados" placeholder="10" class="form-control" type="number" {% if numResultados is defined and numResultados != null %} value="{{ numResultados }}" {% endif %}>
                    </div>
                    <button type="submit" class="btn btn-warning btn-sm">OK</button>
                </form>
            </div>
        </div>
    </noscript>

    <div class="clearfix">
        <div class="pull-left text-left csv-counter">
            {% if is_granted('ROLE_DEPARTAMENTO') or is_granted('ROLE_ALMOXARIFADO') %}
                <a target="_blank" href="{{ routeCsv }}" class="btn btn-info btn-sm">Exportar .CSV</a>
            {% endif %}
            <div class="navbar-form"><label><small class="text-muted">Total de Itens: {{ pagination.getTotalItemCount }}</small></label></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
    <script>
        $(function () {
            $("#calendar-holder").fullCalendar({
                header: {
                    left: "prev, next",
                    center: "title",
                    right: "month, basicDay"
                },
                defaultView: "month",
                lang: "pt-br",
                lazyFetching: true,
                eventLimit: false, // allow "more" link when too many events
                eventSources: [
                    {
                        url: "{{ path('ancarebeca_full_calendar_load') }}",
                        type: "POST",
                        data: {},
                        error: function(xhr, status, error) {
                            var err = eval("(" + xhr.responseText + ")");
                            console.log(err.Message);
                        }
                    }
                ],
                loading: function( isLoading, view ) {
                    if(isLoading) {
                        $("body").append("<div id='overlay-alert' class='overlay-alert'><span class='label label-danger'>Carregando...</span></div>");
                    } else {
                        $("#overlay-alert").remove();
                    }
                }
            });
        });
    </script>
    <script src="{{ asset('vendor/fullcalendar/js/lang/pt-br.js') }}"></script>
{% endblock %}
