{% extends 'AdminBundle::base.html.twig' %}

{% set title = app.user.username %}
{% set routeList = path('index') %}
{% set routeEdit = path('fos_user_profile_edit') %}

{% block mainActions %}
    <a class="navbar-brand btn btn-link" href="{{ routeList }}">
        {% include 'AdminBundle:SVG:voltar.html.twig' %}
    </a>
    {% if is_granted('edit', user) or app.user == user %}
        <div class="navbar-form navbar-nav">
            <a class="btn btn-info" href="{{ routeEdit }}">{% include 'AdminBundle:SVG:editar.html.twig' %}<span class="hidden-xs">Editar</span></a>
        </div>
    {% endif %}
    <div class="navbar-form navbar-left">
        <a class="btn btn-default" href="{{ path('fos_user_change_password') }}">{% include 'AdminBundle:SVG:senha.html.twig' %}<span class="hidden-xs">Mudar minha senha</span></a>
    </div>
    <div class="navbar-form navbar-right">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ajudaModal">{% include 'AdminBundle:SVG:ajuda.html.twig' %}<span class="hidden-xs">Ajuda</span></a>
    </div>
{% endblock %}

{% block body %}
    {{ parent() }}
    {% include "FOSUserBundle:Profile:show_content.html.twig" %}

    <div class="modal fade" id="ajudaModal" tabindex="-1" role="dialog" aria-labelledby="ajudaModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="ajudaModalLabel">Ajuda</h4>
                </div>
                <div class="modal-body">
                    <p>Para visualizar o calendário de reservas, clique em <strong><a href="{{ path('almoxarifado_reserva_index') }}">Reservas</a></strong>, no menu <strong>Almoxarifado</strong>.</p>

                    <p>Para cadastrar um projeto, clique em <strong><a href="{{ path('realizacao_projeto_index') }}">Projetos</a></strong>, no menu <strong>Realização</strong>, e depois em <strong>Adicionar</strong> para criar seu projeto, preenchendo o formulário.</p>

                    <p>Para realizar reservas para um projeto já cadastrado, clique em <strong><a href="{{ path('almoxarifado_reserva_index') }}">Reservas</a></strong>, no menu <strong>Almoxarifado</strong>, e depois em <strong>Adicionar</strong> para então preencher as datas de retirada e devolução e incluir os reserváveis desejados. Após enviar, você poderá visualizar sua reserva no calendário.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
