{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password', 'novalidate': 'novalidate' } }) }}
    <div class="row">
        <div class="col-sm-4">{{ form_row(form.current_password) }}</div>
        <div class="col-sm-4">{{ form_row(form.plainPassword.first) }}</div>
        <div class="col-sm-4">{{ form_row(form.plainPassword.second) }}</div>
    </div>
    {{ form_rest(form) }}
    <br/>
    <input type="submit" class="btn btn-lg btn-warning" value="{{ 'change_password.submit'|trans }}" />
{{ form_end(form) }}
