<div class="row">
    <div class="col-sm-3 col-md-2">{{ form_row(form.codigo) }}</div>
    <div class="col-sm-9 col-md-10">{{ form_row(form.nome) }}</div>
</div>
<div class="row">
    <div class="col-sm-6">{{ form_row(form.categoria) }}</div>
    <div class="col-sm-6">{{ form_row(form.especificacao) }}</div>
</div>
<div class="row">
    <div class="col-sm-6">{{ form_row(form.fabricante) }}</div>
    <div class="col-sm-6">{{ form_row(form.modelo) }}</div>
</div>
<div class="row">
    <div class="col-sm-6">{{ form_row(form.patrimonio) }}</div>
    <div class="col-sm-6">{{ form_row(form.nSerie) }}</div>
</div>
<div class="row">
    <div class="col-md-6">{{ form_row(form.acessorios) }}</div>
    <div class="col-md-6">{{ form_row(form.obs) }}</div>
</div>
{{ form_row(form.manutencao) }}
