<td>{{ item.codigo }}</td>
<td>
    <a href="{{ path('get_reservaveis', { 'params': item.id }) }}">{{ item.nome }}</a>
</td>
<td>
    <a href="{{ path('get_categorias-reservaveis', { 'params': item.categoria.id }) }}">{{ item.categoria.nome }}</a>
</td>
<td>{{ item.manutencao ? 'Sim' : 'Não' }}</td>
<td>{{ item.atrasado ? 'Sim' : 'Não' }}</td>
