{% extends 'CineviAdminBundle:Crud:base-listar.html.twig' %}

{% set title = 'Equipamentos/Espaços' %}
{% set routeAdicionar = path('new_equipamento') %}
{% set routeCsv = path('equipamentos_csv') %}

{% block addAction %}
    {% if is_granted('ROLE_ALMOXARIFADO') %}
        <div class="navbar-form navbar-nav">
            <a class="btn btn-success" href="{{ routeAdicionar }}">{% include 'CineviAdminBundle:SVG:adicionar.html.twig' %}<span class="hidden-xs">Adicionar</span></a>
        </div>
    {% endif %}
{% endblock %}

{% block thead %}
    <th>{{ knp_pagination_sortable(pagination, 'Cód.', 'item.codigo') }}</th>
    <th>{{ knp_pagination_sortable(pagination, 'Nome', 'item.nome') }}</th>
    <th>{{ knp_pagination_sortable(pagination, 'Categoria', 'c.nome') }}</th>
    <th>{{ knp_pagination_sortable(pagination, 'Manutenção', 'item.manutencao') }}</th>
    <th>{{ knp_pagination_sortable(pagination, 'Devolução Atrasada?', 'item.atrasado') }}</th>
{% endblock %}

{% block tbody %}
    <td>{{ item.codigo }}</td>
    <td>
        <a href="{{ path('get_equipamento', { 'id': item.id }) }}">{{ item.nome }}</a>
    </td>
    <td>
        <a href="{{ path('get_categoria', { 'id': item.categoria.id }) }}">{{ item.categoria.nome }}</a>
    </td>
    <td>{{ item.manutencao ? 'Sim' : 'Não' }}</td>
    <td>{{ item.atrasado ? 'Sim' : 'Não' }}</td>
{% endblock %}
