{% extends 'CineviAdminBundle:Crud:base-mostrar.html.twig' %}

{% set title = item.nome %}
{% set routeListar = path('get_equipamentos') %}
{% set routeEditar = path('edit_equipamento', { 'id': item.id }) %}

{% block maisBotoes %}
    {% block maisBotoesBlock %}{% endblock %}
    {% if is_granted('ROLE_ALMOXARIFADO') %}
        <div class="navbar-form navbar-nav">
            <a class="btn btn-info" href="{{ routeEditar }}">Editar</a>
        </div>
    {% endif %}
    {% if is_granted('ROLE_ALMOXARIFADO') %}
        {{ form_start(deleteForm, { 'attr' : { 'class': 'navbar-form navbar-left' } }) }}
            {{ form_row(deleteForm.remover) }}
        {{ form_end(deleteForm) }}
    {% endif %}
{% endblock %}

{% block dtdd %}

<div class="row">
    <div class="col-sm-3 col-md-2"><dt>Cód.</dt><dd>{{ item.codigo }}</dd></div>
    <div class="col-sm-9 col-md-10"><dt>Nome</dt><dd>{{ item.nome }}</dd></div>
</div>
<div class="row">
    <div class="col-sm-6"><dt>Categoria</dt><dd>{{ item.categoria.nome }}</dd></div>
    <div class="col-sm-6"><dt>Especificação</dt><dd>{{ item.especificacao ? item.especificacao : 'Não informada(o)' }}</dd></div>
</div>
<div class="row">
    <div class="col-sm-6"><dt>Fabricante</dt><dd>{{ item.fabricante ? item.fabricante : 'Não informada(o)' }}</dd></div>
    <div class="col-sm-6"><dt>Modelo</dt><dd>{{ item.modelo ? item.modelo : 'Não informada(o)' }}</dd></div>
</div>
<div class="row">
    <div class="col-sm-6"><dt>Nº de Patrimônio</dt><dd>{{ item.patrimonio ? item.patrimonio : 'Não informada(o)' }}</dd></div>
    <div class="col-sm-6"><dt>Nº de Série</dt><dd>{{ item.nSerie ? item.nSerie : 'Não informada(o)' }}</dd></div>
</div>
<div class="row">
    <div class="col-md-6"><dt>Acessórios</dt><dd class="inherit">{{ item.acessorios ? item.acessorios : 'Não informada(o)' }}</dd></div>
    <div class="col-md-6"><dt>Observações</dt><dd class="inherit">{{ item.obs ? item.obs : 'Não informada(o)' }}</dd></div>
</div>
<dt>Em Manutenção?</dt><dd>{{ item.manutencao ? 'Sim' : 'Não' }}</dd>
{% endblock %}
