{% extends 'CineviAdminBundle:Crud:base-mostrar.html.twig' %}

{% set title = item.nome %}
{% set routeListar = path('get_equipamentos') %}
{% set routeEditar = path('edit_equipamento', { 'id': item.id }) %}

{% block dtdd %}
<div class="row">
    <div class="col-sm-3 col-md-2"><dt>Cód.</dt><dd>{{ item.codigo }}</dd></div>
    <div class="col-sm-9 col-md-10"><dt>Nome</dt><dd>{{ item.nome }}</dd></div>
</div>
<dt>Categoria</dt><dd><a href="{{ path('get_categoria', { 'id': item.categoria.id }) }}">{{ item.categoria.nome }}</a></dd>
<div class="row">
    <div class="col-sm-6"><dt>Nº de Patrimônio</dt><dd>{{ item.patrimonio ? item.patrimonio : 'Não informado' }}</dd></div>
    <div class="col-sm-6"><dt>Nº de Série</dt><dd>{{ item.nSerie ? item.nSerie : 'Não informado' }}</dd></div>
</div>
<div class="row">
    <div class="col-md-6"><dt>Acessórios</dt><dd class="inherit">{{ item.acessorios ? item.acessorios : 'Não informado' }}</dd></div>
    <div class="col-md-6"><dt>Observações</dt><dd class="inherit">{{ item.obs ? item.obs : 'Não informado' }}</dd></div>
</div>
<div class="row">
    <div class="col-md-6"><dt>Em Manutenção?</dt><dd>{{ item.manutencao ? 'Sim' : 'Não' }}</dd></div>
    <div class="col-md-6"><dt>Devolução Atrasada?</dt><dd>{{ item.atrasado ? 'Sim' : 'Não' }}</dd></div>
</div>

{% endblock %}
