<td>{{ item.codigo }}</td>
<td>
    <a href="{{ path('almoxarifado_equipamento_show', { 'params': item.id }) }}">{{ item.nome }}</a>
</td>
<td>
    {% if item.categoria is defined and item.categoria != null %}
        <a href="{{ path('almoxarifado_categoria_show', { 'params': item.categoria.id }) }}">{{ item.categoria.nome }}</a>
    {% else %}
        <span class="text-muted font-style-italic">Removida(o)</span>
    {% endif %}
</td>
<td>{{ item.manutencao ? 'Sim' : 'Não' }}</td>
<td>{{ item.atrasado ? 'Sim' : 'Não' }}</td>
