{% extends 'CineviAdminBundle:Crud:base-listar.html.twig' %}

{% set title = 'Categorias de Equipamento' %}
{% set routeAdicionar = path('new_categoria') %}

{% block thead %}
    <th>{{ knp_pagination_sortable(pagination, 'Nome', 'item.nome') }}</th>
{% endblock %}

{% block tbody %}
    <td>
        {% if is_granted('ROLE_FUNCIONARIO') %}
            <a href="{{ path('edit_categoria', { 'id': item.id }) }}">{{ item.nome }}</a>
        {% else %}
            <a href="{{ path('get_categoria', { 'id': item.id }) }}">{{ item.nome }}</a>
        {% endif %}
    </td>
{% endblock %}
