{% extends 'CineviAdminBundle:Crud:base-mostrar.html.twig' %}

{% set title = item.nome %}
{% set routeListar = path('get_categorias') %}
{% set routeEditar = path('edit_categoria', { 'id': item.id }) %}

{% block maisBotoes %}
    {% block maisBotoesBlock %}{% endblock %}
    {% if is_granted('ROLE_ALMOXARIFADO') %}
        <div class="navbar-form navbar-nav">
            <a class="btn btn-info" href="{{ routeEditar }}">Editar</a>
        </div>
    {% endif %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {{ form_start(deleteForm, { 'attr' : { 'class': 'navbar-form navbar-left' } }) }}
            {{ form_row(deleteForm.remover) }}
        {{ form_end(deleteForm) }}
    {% endif %}
{% endblock %}

{% block dtdd %}
    <dt>Nome</dt>
    <dd>{{ item.nome }}</dd>
{% endblock %}
