{% extends 'CineviAdminBundle:Crud:base-mostrar.html.twig' %}

{% set title = item.nome %}
{% set routeListar = path('get_categorias') %}
{% set routeEditar = path('edit_categoria', { 'id': item.id }) %}

{% block maisBotoes %}
    {% block maisBotoesBlock %}{% endblock %}
    {% if is_granted('ROLE_ALMOXARIFADO') %}
        <div class="navbar-form navbar-nav">
            <a class="btn btn-info" href="{{ routeEditar }}">Editar</a>
        </div>
    {% endif %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {{ form_start(deleteForm, { 'attr' : { 'class': 'navbar-form navbar-left' } }) }}
            {{ form_row(deleteForm.remover) }}
        {{ form_end(deleteForm) }}
    {% endif %}
{% endblock %}

{% block dtdd %}
    <dt>Nome</dt>
    <dd>{{ item.nome }}</dd>

    <h2 id="reservaveis"><a href="#reservaveis">Reserváveis</a></h2>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(paginationEquipamentos, 'Cód.', 'item.codigo') }}</th>
                    <th>{{ knp_pagination_sortable(paginationEquipamentos, 'Nome', 'item.nome') }}</th>
                    <th>{{ knp_pagination_sortable(paginationEquipamentos, 'Manutenção', 'item.manutencao') }}</th>
                    <th>{{ knp_pagination_sortable(paginationEquipamentos, 'Devolução Atrasada?', 'item.atrasado') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for equipamento in paginationEquipamentos %}
                    <tr>
                        <td>{{ equipamento.codigo }}</td>
                        <td>
                            <a href="{{ path('get_equipamento', { 'id': equipamento.id }) }}">{{ equipamento.nome }}</a>
                        </td>
                        <td>{{ equipamento.manutencao ? 'Sim' : 'Não' }}</td>
                        <td>{{ equipamento.atrasado ? 'Sim' : 'Não' }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center">
        {{ knp_pagination_render(paginationEquipamentos) }}
    </div>

    <div class="clearfix">
        <div class="pull-right text-right">
            <form name="num_resultados" method="get" novalidate="novalidate" class="navbar-form navbar-right">
                <div class="form-group form-group-sm">
                    <label class="control-label" for="numResultados"><small class="text-muted">Nº de resultados</small></label>

                    <input id="num_resultados_numResultados" name="numResultados" placeholder="10" class="form-control" type="number" {% if numResultados is defined and numResultados != null %} value="{{ numResultados }}" {% endif %}>
                </div>
                <button type="submit" class="btn btn-warning btn-sm">OK</button>
            </form>
        </div>
    </div>
{% endblock %}
