{% extends 'AdminBundle::base.html.twig' %}

{% set title = 'Reservas' %}
{% set routeCsv = path('almoxarifado_reserva_csv') %}
{% set routeAdd = path('almoxarifado_reserva_new') %}
{% set containerFluid = true %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.min.css') }}" />
    <link rel="stylesheet" media="print" href="{{ asset('bundles/fullcalendar/css/fullcalendar/fullcalendar.print.css') }}" />
    {{ parent() }}
{% endblock %}

{% block mainActions %}
    <a class="navbar-brand btn btn-link" href="{{ path('index') }}">
        {% include 'AdminBundle:SVG:voltar.html.twig' %}
    </a>
    {% block addAction %}
        <div class="navbar-form navbar-nav">
            <a class="btn btn-success" href="{{ routeAdd }}">{% include 'AdminBundle:SVG:adicionar.html.twig' %}<span class="hidden-xs">Adicionar</span></a>
        </div>
    {% endblock %}
{% endblock %}

{% block maisBotoes %}
    {% block maisBotoesBlock %}{% endblock %}
{% endblock %}

{% block body %}

    {{ parent() }}

    {% include '@FullCalendar/Calendar/calendar.html.twig' %}

    <noscript>
        <div class="table-responsive">
            <table class="table table-striped table-hovered">
                <thead>
                    <tr>
                        {% include 'AlmoxarifadoBundle:CalendarEvent:list-thead.html.twig' with { builderName: 'item'} %}
                    </tr>
                </thead>
                <tbody>
                    {% for item in pagination %}
                        <tr>
                            {% include 'AlmoxarifadoBundle:CalendarEvent:list-tbody.html.twig' %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% block blockPagination %}
            {% include 'AdminBundle:Pagination:pagination.html.twig' with { name: 'numResultados' } %}
        {% endblock %}
    </noscript>

    <div class="clearfix">
        <div class="pull-left text-left csv-counter">
            {% if routeCsv is defined and (is_granted('ROLE_DEPARTAMENTO') or is_granted('ROLE_ALMOXARIFADO')) %}
                <div class="navbar-form">
                    <a target="_blank" href="{{ routeCsv }}" class="btn btn-info btn-sm">Baixar como tabela</a>
                </div>
            {% endif %}
            <div class="navbar-form">
                <small>
                    <label class="text-muted">Total de Itens: {{ pagination.getTotalItemCount }}</label>
                </small>
            </div>
        </div>
        <noscript>
            <div class="pull-right text-right">
                <form name="form_numResultados" method="get" novalidate="novalidate" class="navbar-form">
                    <div class="form-group form-group-sm">
                        <small>
                            <label class="text-muted control-label" for="numResultados">Nº de resultados</label>
                        </small>
                        <input id="input_numResultados" name="numResultados" placeholder="10" class="form-control" type="number" {% if app.request.query.get('numResultados') is defined %} value="{{ app.request.query.get('numResultados') }}" {% endif %}>
                    </div>
                    <button type="submit" class="btn btn-info btn-sm">OK</button>
                </form>
            </div>
        </noscript>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fullcalendar/js/fullcalendar/fullcalendar.min.js') }}"></script>
    <script>
        $(function () {
            $("#calendar-holder").fullCalendar({
                header: {
                    left: "prev, next",
                    center: "title",
                    right: "month, basicDay"
                },
                defaultView: "month",
                lang: "pt-br",
                lazyFetching: true,
                eventLimit: false, // allow "more" link when too many events
                eventSources: [
                    {
                        url: "{{ path('ancarebeca_full_calendar_load') }}",
                        type: "POST",
                        data: {},
                        error: function(xhr, status, error) {
                            var err = eval("(" + xhr.responseText + ")");
                            console.log(err.Message);
                        }
                    }
                ],
                eventRender: function(event, element) {
                    element.attr("title", event.title),
                    element.attr("data-toggle", "tooltip")
                },
                eventAfterAllRender: function() {
                    $(function () { $('[data-toggle="tooltip"]').tooltip() })
                },
                loading: function( isLoading, view ) {
                    if(isLoading) {
                        $("body").append("<div id='overlay-alert' class='overlay-alert'><span class='label label-danger'>Carregando...</span></div>");
                    } else {
                        $("#overlay-alert").remove();
                    }
                }
            });
        });
    </script>
    <script src="{{ asset('vendor/fullcalendar/js/lang/pt-br.js') }}"></script>
{% endblock %}
