{% extends 'CineviAdminBundle:Crud:base-list.html.twig' %}

{% set title = 'Cópias Finais' %}
{% set routeAdd = path('new_cf') %}
{% set routeCsv = path('cfs_csv') %}

{% block addAction %}
    <div class="navbar-form navbar-nav">
        <a class="btn btn-success" href="{{ routeAdd }}">{% include 'CineviAdminBundle:SVG:adicionar.html.twig' %}<span class="hidden-xs">Adicionar</span></a>
    </div>
{% endblock %}

{% block thead %}
    <th>{{ knp_pagination_sortable(pagination, 'Título', 'r.titulo') }}</th>
    <th>{{ knp_pagination_sortable(pagination, 'Responsável', 'u.username') }}</th>
{% endblock %}

{% block tbody %}
    <td>
        <a href="{{ path('get_cf', { 'id': item.id }) }}">{{ item.realizacao.titulo }}</a>
    </td>
    <td>
        <a href="{{ path('get_usuarios', { 'id': item.realizacao.user.id }) }}">{{ item.realizacao.user.username }}</a>
    </td>
{% endblock %}
